{#{% extends 'base.html' %}#}
{#{% load cache %}#}
{% load static %}
{#{% block title %}{{ object.title }}{% endblock %}#}

{#{% block page_title %}#}
{#    {{ module.title }}#}
{#{% endblock %}#}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ocean Academy | Kurslarimiz</title>
    {#    <title>{% block title %}Ocaen Academy | Home{% endblock %}</title>#}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'detail.css' %}">

    {# if you needed to add additional style files #}
    {#    {% block style %}#}
    {#    {% endblock %}#}
</head>

<body>

{# navbar #}
<ul class="nav container  d-flex flex-md-row flex-column  justify-content-between align-items-center">
    <li class="navbar-brand ">
        <a class="nav-link" href="/">
            <div class="my-nav-link">
                <img src="{% static 'imgs/wave 2.png' %}" alt="site-logo" width="65px" style="padding-left: 20px">
                <p style="margin-bottom: 0">OCEAN ACADEMY</p>
            </div>
        </a>
    </li>

    <li class="nav-item display-3">
        {#                                     {% block page_title %}{% endblock %}#}
    </li>

    <li><a class="kurslarimiz-link-in-navbar" href="">Kurslarimiz</a></li>

    <li class="nav-item">
        {% if request.user.is_authenticated %}
            <a class="nav-link btn btn-danger btn-sm" href="{% url 'logout' %}">Sign Out</a>
        {% else %}
            <a class="nav-link btn btn-success btn-sm" href="{% url 'login' %}">Sign In</a>
        {% endif %}
    </li>
</ul>
{#------------------------------------#}


<div class="container">
    {% block content %}
        <div class="lessons">
            <div class="lessons-info">

            </div>


            <div class="lesson-part">
                {% for m in object.modules.all %}
                    <button class="collapsible">{{ m.title }}</button>
                    <div class="content">
                        {% for n in m.lessons.all %}
                            <a href=""><p>{{ n.title }}</p></a>
                        {% endfor %}
                    </div>


                {% empty %}
                    <li>Modullar mavjuda emas.</li>
                {% endfor %}
            </div>

            <div class="frame-part">
                <iframe width="850" height="480" src="https://www.youtube.com/embed/xcGtfYUfDLo"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            </div>




            {#        <div>#}
            {#            <h3 class="display-6 hover-style">#}
            {#                <a href="{% url 'chat:course_chat_room' object.id %}">#}
            {#                    Chat Room ==>#}
            {#                </a>#}
            {#            </h3>#}
            {#        </div>#}

        </div>

    {% endblock %}
</div>

</body>
<script src="{% static 'base.js' %}"></script>


