{% load static %}
<!DOCTYPE html>

{#{% block page_title %}#}
{#    My courses#}
{#{% endblock %}#}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ocean Academy | Kurslarimiz</title>
    {#    <title>{% block title %}Ocaen Academy | Home{% endblock %}</title>#}

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'detail.css' %}">

    {# if you needed to add additional style files #}
    {#    {% block style %}#}
    {#    {% endblock %}#}
</head>

{# navbar #}
<ul class="nav container  d-flex flex-md-row flex-column  justify-content-between align-items-center">
    <li class="navbar-brand ">
        <a class="nav-link" href="/">
            <div class="my-nav-link">
                <img src="{% static 'imgs/wave 2.png' %}" alt="site-logo" width="65px" style="padding-left: 20px">
                <p style="margin-bottom: 0">OCEAN ACADEMY</p>
            </div>
        </a>
    </li>

    <li class="nav-item display-3">
        {#                                     {% block page_title %}{% endblock %}#}
    </li>

        <li><a class="kurslarimiz-link-in-navbar" href="">Kurslarimiz</a></li>

    <li class="nav-item">
        {% if request.user.is_authenticated %}
            <a class="nav-link btn btn-danger btn-sm" href="{% url 'logout' %}">Sign Out</a>
        {% else %}
            <a class="nav-link btn btn-success btn-sm" href="{% url 'login' %}">Sign In</a>
        {% endif %}
    </li>
</ul>
{#------------------------------------#}

{% block content %}

    <div class="module shadow-style w-100">
        {% for course in object_list %}
            <div class="card p-1 text-center hover-style">
                <h3 class="display-6">{{ course.title }}</h3>
                <p>
                    <a class="btn btn-primary text-white" href="{% url 'student_course_detail' course.id %}">DAVOM ETTIRISH</a>
                </p>
            </div>

        {% empty %}
            <p class="text-primary display-6">SIZDA HALI HECH QANDAY KURS YO'Q</p>
            <a class="btn btn-success text-white" href="{% url 'course_list' %}">kURSLARNI KO'RISH</a> to enroll in a course
        {% endfor %}
    </div>
{% endblock %}