@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Oswald:wght@700&display=swap');

.container{
    padding: 0;
}
.nav {
    padding: 5px 20px;
}

.nav-link {
    /*margin: 0;*/
    /*padding: 0;*/
}

.kurslarimiz-link-in-navbar {
    color: black;
}

.kurslarimiz-link-in-navbar:hover {

}

.my-nav-link {
    display: flex;
}

.my-nav-link p {
    font-family: Kanit, sans-serif;
    /*margin-bottom: -5px;*/
    margin: 8px 0 0 7px;
    /*color: black;*/
    color: #0056d5;
}

.course_detail_wrapper {
    width: 100%;
    /*height: 500px;*/
    /*border: 1px solid red;*/
    /*padding: 30px 50px 30px 50px;*/
}

.detail_image {
    width: 80%;
    /*border: 1px solid blue;*/
    margin: 0 auto;
}

.detail_image img {
    width: 100%;
    height: 100%;
}

.detail_title {
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-family: Kanit, sans-serif;
    font-size: 40px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.lessons{
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    /*height: 600px;*/
}

.lesson-part{
    width: 400px;
    /*border: 1px solid red;*/
}

.lessons-info{
    width: 100%;
    height: 80px;
    background-color: #20c997;
}

.frame-part{
    /*border: 1px solid blue;*/
}